html {
    font-family: sans-serif;
    color: yellow;
  }
body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background: black;
  }
.lastResult {
    color: white;
    padding: 3px;
  }